* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    min-width: 800px;
    background-color: #04020c;
    display: flex;
}
#left-nav-bar {
    background-color: #FFF;
    max-width: 250px;
    flex-grow: 1;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
}
.avatar {
    width: 50%;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 50px 50px 20px 50px;
    animation: rotate-avatar 55s linear infinite;
    -webkit-animation: rotate-avatar 55s linear infinite;
    -moz-animation: rotate-avatar 55s linear infinite;
    transition: all 0.4s;
}
@-moz-keyframes rotate-avatar { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes rotate-avatar { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes rotate-avatar { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg); 
    }
}
.avatar:hover {
    box-shadow: 0 0 20px #424242;
    width: 55%;
    animation-play-state: paused;
    cursor: pointer;
}
#nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    justify-content: center;
}
li {
    margin: auto;
    transition: all 0.4s;
    list-style-type: none;
}
li:hover {
    /* text-shadow: 0 0 10px #424242; */
    cursor: pointer;
    font-size: x-large;
    font-weight: 550;
}
#content-container {
    /* width: 100%; */
    align-content: center;
    /* background-color: red; */
    flex-grow: 3;
}
#content {
    /* max-width: fit-content; */
    border-radius: 8px;
    padding: 15px;
    background-color: white;
}